<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..\static\css\styles.css">
    <link rel="icon" href="title-logo.png" type="image/icon type">
    <script type="text/javascript" src="..\static\js\app.js" defer></script>
    <title>MyPage - FAQ</title>
</head>
<body>
    <div id="header">Frequently Asked Questions</div>
    <div class="questions-container">        
        <ul class="questions-list" id="questions"></ul>
    </div>
</body>
</html>