{% extends 'base.html' %}

{% block title %} 
    Data page
{% endblock %}

{% block content %}
    <h1>Current posts</h1>
    {% for post in data %}
        <p>
            <h2>{{ post[2] }}</h2>
            <h3>{{ post[3] }}</h3>
            <h5>created at: {{ post[1] }}</h5>
            <form method="POST">
                <input type="submit" value="delete post">
                <input type="hidden" name="post_id" value="{{ post[0] }}">
            </form>
            <form method="POST">
                <input type="submit" value="edit post">
                <input type="hidden" name="post_id" value="{{ post[0] }}">
            </form>
        </p>
    {% endfor %}
{% endblock %}
