body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    background-color: lightgrey;
}

.question{
    background-color: white;
    border: black, 2px, solid;
    margin: 20px;
    list-style: none;
    font-size: 1;
    font-weight: 9;
    padding: 20px;
    width:1000px;
    text-align: center;
}

#header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    padding: 50px;
    color: rgba(197, 163, 10, 0.658);
    text-align: center;
}

.answer{
    margin: 10px;
    margin-top: 10px;
}

.question:hover{
    background-color: yellow;
}

.questions-list{
    display: inline-block;
}

.questions-container{
    text-align: center;
}